body {
	background-color: #e2d5cb;
}

#photopaintsplatter{
	background: url("paintsplash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:580px;
	padding:0px;
}


a {
	color: #5e3d23;
	text-decoration: none;
}

h1{
	color: #eeeeee;
	font-family:Alegreya;

}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.alegreya-<uniquifier> {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

ul {
	list-style-type: none;
}