body {
	background-color: #c7ae9e;
}

#photopaintsplatter{
	background: url("paintsplat.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:600px;
	padding:0px;
}


.topnav {
   background-color: #ffffff;
   overflow: hidden;
}

.topnav a {
   float: left;
   color: #f2c7e7;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.topnav a:hover {
   background-color: #ededed;
   color: white;
}

.topnav a.active {
   background-color: #ffffff;
   color: #f2c7e7;
}


#homeText {
	color: #eeeeee;
	font-size: 25px;
}

#graphiteText {
	color: #544027;
	margin-left: 75px;
	margin-right: 75px;
}

#coloredpencilBrands {
	color: #3a2a17;
	font-family: Alegreya;
}

#graphiteBrands {
	color: #3a2a17;
	font-family: Alegreya;
}

#acrylicBrands {
	color: #3a2a17;
	font-family: Alegreya;
}

#oilpastelBrands {
	color: #3a2a17;
	font-family: Alegreya;
}

#watercolorBrands {
	color: #3a2a17;
	font-family: Alegreya;
}

#charcoalBrands {
	color: #3a2a17;
	font-family: Alegreya;
}

#paperBrands {
	color: #3a2a17;
	font-family: Alegreya;
}

#canvasesBrands {
	color: #3a2a17;
	font-family: Alegreya;
}

#coloredpencilText {
	color: #544027;
	margin-left: 75px;
	margin-right: 75px;
}

#acrylicText {
	color: #544027;
	margin-left: 75px;
	margin-right: 75px;
}

#oilpastelText {
	color: #544027;
	margin-left: 75px;
	margin-right: 75px;
}

#watercolorText {
	color: #544027;
	margin-left: 75px;
	margin-right: 75px;
}

#charcoalText {
	color: #544027;
	margin-left: 75px;
	margin-right: 75px;
}

#paperText {
	color: #544027;
	margin-left: 75px;
	margin-right: 75px;
}

#canvasesText {
	color: #544027;
	margin-left: 75px;
	margin-right: 75px;
}

p {
	font-family:Alegreya Sans;
	text-decoration: none;
}

li {
	font-family:Alegreya Sans;
	color: #372714;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

#homePage {
	background-color: #ffffff;
}

a {
	color: #5e3d23;
	text-decoration: none;
	font-family:Alegreya Sans;
}

a:hover{
	color: #f2c7e7;
}

.topnav a:hover {
	color: #f2c7e7;
}


h1{
	color: #eeeeee;
	font-family:Alegreya;
	font-size: 75px;

}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.alegreya-<uniquifier> {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.alegreya-sans-regular {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

ul {
	list-style-type: none;
}